.dataUser{
    &__welcome{
        font-weight: bold;
        padding:0.8em 0;
        font-size: 2em;
    }
    &__text{
        font-size: 1.1em;
        padding-bottom:0.6em;
    }
    &__input{
        margin-top: 2em;   
    }
    &__button{
        background: nth($color__corp,3);
        font-weight: bold;
        letter-spacing: 0.1em;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3), 2px 0px 10px 0 rgba(0,0,0,0.19);
    }
}

.btn:hover, .btn-large:hover{
     background: nth($color__corp,3)!important;
}

.input-field.col label{
    left: 0;
}