$font: 'roboto';
$color__primary: rgb(230, 40, 30);
$color__corp: rgb(255, 198, 0), rgb(64, 193, 172), rgb(132, 189, 0), rgb(152, 29, 151), rgb(255, 130, 0),rgb(218, 24, 132);




body{
  /*  background: nth($color__corp,6);*/
}