$font: 'Open Sans';
$color__primary: rgb(230, 40, 30);
$color__corp: rgb(255, 198, 0), rgb(64, 193, 172), rgb(132, 189, 0), rgb(152, 29, 151), rgb(255, 130, 0),rgb(218, 24, 132);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

header{
    background: $color__primary; 
    height: 15vh;
    width: 100%;
    text-align: center;
}

.continue{
    position: absolute;
    bottom: 7em;
    left: 33%;
}

.iconA{
    position: absolute;
    font-size: 2em;
    left: 9.5em;
    color : nth($color__corp,3);
    margin-top: -40px;
}

label{
    font-size: 1.2em!important;
    font-weight: bold!important;
    color: #000!important;
}

.contmobile .collapsible{
    margin: 0;
}

.contmobile {
    padding-top: 0.5em;
}
.plan .infoplan{
    margin-bottom: 10px;
}

::-webkit-input-placeholder {
    font-size: 1.2em;
}

h1{
    margin: 0;
}